// Drop shadow (text-shadow) effect
@mixin dropshadow($text) {
  color: $text;
  text-shadow: 2px 2px darken($text, 50%);
}
@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}
@mixin gradient($color1, $color2) {
	background-image: -webkit-linear-gradient($color1, $color2, $color1);
  	background-image: -moz-linear-gradient($color1, $color2, $color1);
  	background-image: linear-gradient($color1, $color2, $color1);
}
// The rotate mixin uses interpolation of variables to have them sit alongside regular CSS text. see the docs: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#interpolation_
@mixin rotate($degree, $position) {
	-webkit-transform: rotate(#{$degree}deg);
    -moz-transform: rotate(#{$degree}deg);
    transform: rotate(#{$degree}deg);
    -webkit-transform-origin: $position;
    -moz-transform-origin: $position;
    transform-origin: $position;
}

@mixin fontFace($fontFamily, $fontFileName) {
	@font-face {
	  font-family: $fontFamily;
	  src: url('#{$fontPath}/#{$fontFileName}-webfont.eot');
	  src: url('#{$fontPath}/#{$fontFileName}-webfont.eot?#iefix') format('embedded-opentype'),
	       url('#{$fontPath}/#{$fontFileName}-webfont.woff') format('woff'),
	       url('#{$fontPath}/#{$fontFileName}-webfont.ttf') format('truetype'),
	       url('#{$fontPath}/#{$fontFileName}-webfont.svg#EntypoRegular') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
}