#main {
  background: $contentBackground;
  margin: $centered;
  width: $layoutWidth;
  section {
    margin-bottom: 1em;
    position: relative;
    &:after {
      @include clearfix;
    }
  }
  div.wrapper{
      width: 100%;
      max-width:1400px;
      margin: $centered;
  }
}

/* Famous Women */
#famous {
  h2 {
    text-shadow: 1px 1px 2px $accentBackground;
  }
  article {
    &.woman {
      background-color: $contentBackground;
      float: left;
      min-height: 250px;
      margin: 1%;
      opacity: 0.8;
      padding: $defaultPadding;
      width: $articleWidth;
    }
    &:hover {
      opacity: 1;
    }
    &:nth-child(4n) {
      clear: both;
    }
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 5px #000;
      display: block;
      margin: 1em auto;
      width: 100%;
      @include outer-box-shadow(6px, 6px, 10px, 0, #999);
      &:hover {
        @include rotate(-5, 50% 0);
      }
    }
  }
}

/* Organizations */
#organizations {
  clear: both;
  height: 500px;
  h2 {
    text-shadow: 1px 1px 2px #FB000D;
  }
  ul {
    margin: 50px;
    position: relative;
    li {
      font-size: 1.2em;
      line-height: $listItemHeight;
      margin-bottom: 1em;
      padding-left: 5px;
      max-width: 50%;
      &:before {
        color: $linkAccent;
        content: '6';
        @include iconFont;
        font-size: 40px;
        opacity: 0.5;
        padding-right: 10px;
        text-shadow: 0px 0px 2px #888;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }
  img {
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    max-width: 40%;
    @include opacity(0);
    @include transition(opacity, 1.0, 2s);
  }
  li:hover img {
    opacity: 1;
  }
}

/* Fun Facts */
#facts {
  h2 {
    text-shadow: 1px 1px 2px $factsAccent;
  }
  ul {
    margin: 50px;
    li {
      font-size: 1.2em;
      line-height: $listItemHeight;
      margin-bottom: 1em;
      padding-left: 5px;
      max-width: 100%;
      @include transition(background-color, $accentBackground, 2s);
      &:hover {
        border-radius: 10px;
        @include super-shadow(inside, #fff);
        a {
          color: $contrastColor;
        }
      }
      &:before {
        color: $factsAccent;
        content: '7';
        @include iconFont;
        font-size: 30px;
        padding-right: 10px;
        text-shadow: 1px 1px 1px #CCC;
      }
      &:hover:before {
        color: #FF6F00;
      }
    }
  }
}